<div id="user-info">
  <%= @user.name %>
    <div id="reviews-block">
      <a href="<%= @user.id %>?sort_order=desc">Newest First</a>
      <a href="<%= @user.id %>?sort_order=asc">Oldest First</a>
      <% @reviews.each do |review| %>
        <div class="review">
          <div class='reviewed-book-info'>
            <%= link_to review.book.title, book_path(id: review.book.id) %>
            <% review.book.authors.each do |author| %>
              <%= link_to author.name, author_path(id: author.id) %>
            <% end %>
          </div>
          <%= review.title %>
          <%= review.description %>
          <%= "Rating: #{review.rating}" %>
          <div id="delete-<%= review.id %>">
          <%= link_to "Delete", user_review_path(@user, review), method: :delete, data: {confirm: "Really delete the review?"} %>
          </div>
        </div>
      <% end %>
    <div>
  </div>
</div>
