<h2 class="show-title">User Profile</h2>
<div id="user-info">
  <div class='show-heading'>
    <h1><%= @user.name %></h1>
  </div>

<% if !@user.reviews.empty? %>
  <hr>
  <h2 class="centered">All Reviews</h2>
  <hr>
  <div class="review-sort">
    <a href="<%= @user.id %>?sort_order=desc" id="left-link">Newest First</a>
    <a href="<%= @user.id %>?sort_order=asc">Oldest First</a>
  </div>
  <% @reviews.each do |review| %>
    <div class="book-review-row">
      <div class='summary-block'>
        <% book = review.book %>
        <div class="book-title">
          <h3><%= link_to book.title, book_path(book) %></h3>
        </div>
        By
        <% book.authors.each do |author| %>
          <%= link_to author.name, author_path(author) %>
          <br/>
        <% end %>
      </div>
      <div class="review-block" id="all-reviews-<%= review.id %>">
        <div class="review-header-block">
          <div class="review-header-info">
            <h4 class="review-title"><%= review.title %></h4>
            <div class="review-rating"><%= review.rating %> stars <br/>
              <%= link_to review.user.name, user_path(review.user)%>
            </div>
          </div>
        </div>
        <div>
          <%= review.description %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h5>This user has not reviewed any books yet.</h5>
<% end %>
