<div id="user-info">
  <%= @user.name %>
    <div id="reviews-block">
      <a href="<%= @user.id %>?sort_order=desc">Newest First</a>
      <a href="<%= @user.id %>?sort_order=asc">Oldest First</a>
      <% @user.reviews.each do |review| %>
        <div class="review">
          <%= review.title %>
          <%= review.description %>
          <%= "Rating: #{review.rating}" %>
          <div id="delete-<%= review.id %>">
          <%= link_to "Delete", user_review_path(@user, review), method: :delete, data: {confirm: "Really delete the review?"} %>
          </div>
        </div>
      <% end %>
    <div>
  </div>
</div>
