<select>
  <option><a id="avg-rating-desc" href="/books?direction=desc&sort_by=avg_rating">Average Rating ▼</a></option>
  <option><a id="avg-rating-asc" href="/books?direction=asc&sort_by=avg_rating">Average Rating ▲</a></option>
  <option><a id="page-count-desc" href="/books?direction=desc&sort_by=pages">Page Count ▼</a></option>
  <option><a id="page-count-asc" href="/books?direction=asc&sort_by=pages">Page Count ▲</a></option>
  <option><a id="review-count-desc" href="/books?direction=desc&sort_by=rev_count">Total Reviews ▼</a></option>
  <option><a id="review-count-asc" href="/books?direction=asc&sort_by=rev_count">Total Reviews ▲</a></option>
</select>
<% @books.each do |book| %>
  <div class="book-title"><%= book.title %></div>
  <%= book.pages %>
  <%= book.year %>
  <% book.authors.each do |author| %>
    <%= author.name %>
  <% end %>
  <p>Average Rating: <%= book.avg_rating %></p>
  <p>Total Reviews: <%= book.reviews.count %></p>
<% end %>
