<hr>
<h1 class="centered"> Top Three Books</h1>
<hr>
<div id="top_3">
  <div class='books-row'>
    <% @books_top_3.each do |book| %>
      <div class='summary-block'>
        <div class="book-title">
          <h3><%= link_to book.title, book_path(book) %></h3>
        </div>
        <%= book.pages %> pages<br/>
        Published in <%= book.year %><br/>
        By
        <% book.authors.each do |author| %>
        <%= link_to author.name, author_path(author)%>
        <br />
        <% end %>
        <div class="review-summary">
          Average Rating: <%= book.avg_rating.round(1) %><br/>
          Total Reviews: <%= book.reviews.count %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>
<h1 class="centered"> Bottom Three Books</h1>
<hr>
<div id="bottom_3">
  <div class='books-row'>
    <% @books_bottom_3.each do |book| %>
      <div class='summary-block'>
        <div class="book-title">
          <h3><%= link_to book.title, book_path(book) %></h3>
        </div>
        <%= book.pages %> pages <br/>
        Published in <%= book.year %> <br/>
        By
        <% book.authors.each do |author| %>
          <%= link_to author.name, author_path(author) %>
          <br/>
        <% end %>
        <div class="review-summary">
          Average Rating: <%= book.avg_rating.round(1) %>
          Total Reviews: <%= book.reviews.count %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>
<h1 class="centered"> Top Reviewers </h1>
<hr>
<div id="top_reviewers">
  <% @top_3_reviewers.each do |reviewer| %>
    <div class="reviewer">
      <div class="reviewer-name">
        <%= link_to reviewer.name, user_path(reviewer) %>
      </div>
      <%= "#{reviewer.review_count} reviews" %>
    </div>
  <% end %>
</div>

<hr id="all-books-section">
<h1 class="centered">All Books</h1>
<hr />
<div class='book-list-controlls'>
  <div class="dropdown">
    <button class="dropbtn">Sort Books</button>
    <div class="dropdown-content">
      <a id="avg-rating-desc" href="/books?direction=desc&sort_by=avg_rating#all-books-section">▼ &nbsp Average Rating </a>
      <a id="avg-rating-asc" href="/books?direction=asc&sort_by=avg_rating#all-books-section">▲ &nbsp Average Rating</a>
      <a id="page-count-desc" href="/books?direction=desc&sort_by=pages#all-books-section">▼ &nbsp Page Count</a>
      <a id="page-count-asc" href="/books?direction=asc&sort_by=pages#all-books-section">▲ &nbsp Page Count</a>
      <a id="review-count-desc" href="/books?direction=desc&sort_by=rev_count#all-books-section">▼ &nbsp Total Reviews</a>
      <a id="review-count-asc" href="/books?direction=asc&sort_by=rev_count#all-books-section">▲ &nbsp Total Reviews</a>
    </div>
  </div>
  <form action="/books/new" method="get">
    <input type="submit" id="new-book" value="Add a New Book"></input>
  </form>
</div>

<div id="all-books">
  <% @books.each do |book| %>
    <div class='summary-block'>
      <div class="book-title">
        <h3><%= link_to book.title, book_path(book) %></h3>
      </div>
      <%= book.pages %> pages <br />
      Published in <%= book.year %> <br />
      By
      <% book.authors.each do |author| %>
        <%= link_to author.name, author_path(author) %>
        <br />
      <% end %>
      <div class="review-summary">
        Average Rating: <%= book.average_rating %><br />
        Total Reviews: <%= book.reviews.count %>
      </div>
    </div>
  <% end %>
</div>
