<%= @book.title %>
<%= @book.pages %>
<%= @book.year %>
<%  @book.authors.each do |author|%>
  <%= author.name %>
<% end %>

<%= link_to "add a new review", new_book_review_path(@book) %>

<div id="book-stats">
  Average Rating - <%= @book.average_rating %>
  <% @book.top_3_reviews.each do |review| %>
    <div class="top_review">
      <%= review.title %>
      Rating - <%= review.rating %>
      <div id= "top-review-<%= review.id %>">
        <%=  link_to review.user.name, user_path(review.user) %>
      </div>
    </div>
  <% end %>

  <% @book.bottom_3_reviews.each do |review| %>
    <div class="bottom_review">
      <%= review.title %>
      Rating - <%= review.rating %>
      <div id= "bottom-review-<%= review.id %>">
        <%= link_to review.user.name, user_path(review.user) %>
      </div>
    </div>
  <% end %>
</div>

<%  @book.reviews.each do |review| %>
  <%= review.title %>
  <%= review.description %>
  <%= review.rating %>
  binding.pry
  <div id="all-reviews-<%= review.id %>">
    <%= link_to review.user.name, user_path(review.user) %>
  </div>
<% end %>
