<div id="book-info">
  <%= @book.title %>
  <%= @book.pages %>
  <%= @book.year %>
  <%  @book.authors.each do |author|%>
    <%= link_to author.name, author_path(author) %>
  <% end %>
</div>

<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Really delete the review?"} %>

<%= link_to "add a new review", new_book_review_path(@book) %>

<div id="book-stats">
  Average Rating - <%= @book.average_rating %>
  <% @book.top_3_reviews.each do |review| %>
    <div class="top_review">
      <%= review.title %>
      Rating - <%= review.rating %>
      <%= review.user.name %>
    </div>
  <% end %>

  <% @book.bottom_3_reviews.each do |review| %>
    <div class="bottom_review">
      <%= review.title %>
      Rating - <%= review.rating %>
      <%= review.user.name %>
    </div>
  <% end %>
</div>

<%  @book.reviews.each do |review| %>
  <%= review.title %>
  <%= review.description %>
  <%= review.rating %>
  <%= review.user.name %>
<% end %>
