<h2 class="show-title">Book Details</h2>
<div class="book-details-block book-show-page">
  <div id="book-info">
    <div class="book-title">
      <h2><%= @book.title %></h2>
    </div>
    <div class="book-details">
      <%= @book.pages %> pages<br />
      Published in <%= @book.year %><br />
      By <%  @book.authors.each do |author|%>
        <%= link_to author.name, author_path(author) %><br />
      <% end %><br />
      Average Rating - <%= @book.average_rating %>
      <%= link_to "Review Book", new_book_review_path(@book) %>
      <%= link_to "Delete Book", book_path(@book), method: :delete, data: {confirm: "Really delete the review?"}, class: "delete-button" %>
    </div>
  </div>
</div>

<% if @book.reviews.count > 3 %>
  <hr>
  <h2 class="centered">Best Reviews</h2>
  <hr>
  <div class="ranked-reviews">
    <% @book.top_3_reviews.each do |review| %>
      <div class="top_review" id="top-review-<%= review.id %>">
        <div class="review-header-block">
          <div class="review-header-info">
            <h4 class="review-title"><%= review.title %></h4>
            <div class="review-rating"><%= review.rating %> stars <br/>
              <%= link_to review.user.name, user_path(review.user)%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <hr>
  <h2 class="centered">Worst Reviews</h2>
  <hr>
  <div class="ranked-reviews">
    <% @book.bottom_3_reviews.each do |review| %>
      <div class="bottom_review" id="bottom-review-<%= review.id %>">
        <div class="review-header-block">
          <div class="review-header-info">
            <h4 class="review-title"><%= review.title %></h4>
            <div class="review-rating"><%= review.rating %> stars <br/>
              <%= link_to review.user.name, user_path(review.user)%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% end %>

<% unless @book.reviews.empty? %>
  <hr>
  <h2 class="centered">All Reviews</h2>
  <hr>
  <% @book.reviews.each do |review| %>
    <div class="review-block" id="all-reviews-<%= review.id %>">
      <div class="review-header-block">
        <div class="review-header-info">
          <h4 class="review-title"><%= review.title %></h4>
          <div class="review-rating"><%= review.rating %> stars <br/>
            <%= link_to review.user.name, user_path(review.user)%>
          </div>
        </div>
      </div>
      <div>
        <%= review.description %>
      </div>
    </div>
  <% end %>
<% end %>
