<h2 class="show-title">Book Details</h2>
<div class="book-details-block book-show-page">
  <div id="book-info">
    <div class="book-title">
      <h2><%= link_to @book.title, book_path(@book) %></h2>
    </div>
    <div class="book-details">
      <%= @book.pages %> pages<br />
      Published in <%= @book.year %><br />
      By <%  @book.authors.each do |author|%>
        <%= link_to author.name, author_path(author) %><br />
      <% end %><br />
      Average Rating - <%= @book.average_rating %>
    </div>
  </div>
</div>
<br />
<hr />
<br />
<div class="new-form-flex">
  <%= form_for [@book, @review] do |f| %>
    <div class="new-form">
        <div><label for="review_user_name">User's Name</label></div>
        <input id="review_user_name" type="text" name="user_name" placeholder="e.g. Sir Isaac Newton" />
        <div><%= f.label :title, "Review Title" %></div>
        <%= f.text_field :title, placeholder: "e.g. Not bad, but..." %>
        <div><%= f.label :description %></div>
        <%= f.text_field :description %>
        <div><%= f.label :rating %></div>
        <%= f.number_field :rating, min: 1, max: 5,  placeholder:"1 - 5" %>
      <div></div>
      <%= f.submit "Add Review", class: 'new-review-submit' %>
    </div>
  <% end %>
</div>
